APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=database
#cookie driver for sessions not yet feaible with our current Inertia implementation
#due to us hitting max size of cookie on pages with a bunch of form errors.
#SESSION_DRIVER=cookie
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025

ADOBE_CLIENT_ID=e3079db8a52e4dbdbe0777171c5e52a3
ADOBE_CLIENT_SECRET=p8e-mdwwU-JyjPzBkgNprxVoZHuWdijiknXC
ADOBE_ORGANISATION_ID=574B202F6369223C0A495E15@AdobeOrg
ADOBE_TECHNICAL_ACCOUNT_ID=C0652E4263A261480A495C63@techacct.adobe.com

MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

#the following values are DEFAULT
SEED_LEAD_DETAILS=false
ENABLE_MAIL=true
ENABLE_SMS=true

TWILIO_SID=YOUR_TWILIO_SID
TWILIO_TOKEN=YOUR_TWILIO_TOKEN
TWILIO_NO="YOUR_TWILIO_NUMBER"

SIDECAR_ACCESS_KEY_ID=
SIDECAR_SECRET_ACCESS_KEY=
SIDECAR_REGION=
SIDECAR_ARTIFACT_BUCKET_NAME=
SIDECAR_EXECUTION_ROLE=
SIDECAR_BROWSERSHOT_WARMING_INSTANCES=2

TOPOL_API_KEY=

#minimum amount of data in order to run tests
RAPID_SEED=false
QUICK_SEED=false
#disable generating template thumbnails by setting to false
GENERATE_THUMBNAILS=true

#if we want to disable graphiql endpoint completely:
#GRAPHIQL_ENABLED=false
#used to override the default URI of `/graphql`
#VITE_GRAPHQL_URI=http://localhost:8000/graphql

ADOBE_CLIENT_ID=
ADOBE_CLIENT_SECRET=
ADOBE_ORGANISATION_ID=
ADOBE_TECHNICAL_ACCOUNT_ID=

USPS_USERNAME=
USPS_PASSWORD=

