@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "vue-toastification/dist/index.css";

.no-scroll {
    overflow: hidden;
}

@layer base {
    body {
        @apply relative bg-gradient-to-b from-base-300 to-base-100;
    }

    /* Apply defaults to forms */
    [type="text"] {
        @apply input input-bordered border-2;
    }
    [type="email"] {
        @apply input input-bordered border-2;
    }
    [type="url"] {
        @apply input input-bordered border-2;
    }
    [type="password"] {
        @apply input input-bordered border-2;
    }
    [type="number"] {
        @apply input input-bordered border-2;
    }
    [type="date"] {
        @apply input input-bordered border-2;
    }
    [type="datetime-local"] {
        @apply input input-bordered border-2;
    }
    [type="month"] {
        @apply input input-bordered border-2;
    }
    [type="search"] {
        @apply input input-bordered border-2;
    }
    [type="tel"] {
        @apply input input-bordered border-2;
    }
    [type="time"] {
        @apply input input-bordered border-2;
    }
    [type="week"] {
        @apply input input-bordered border-2;
    }
    [type="checkbox"] {
        @apply checkbox;
    }
    textarea {
        @apply textarea textarea-bordered border-2;
    }
    select {
        @apply select select-bordered border-2;
    }
    input:focus {
        @apply focus:ring focus:ring-primary;
    }
}

.input-ghost {
    @apply bg-transparent border-none;
}

.dp__input {
    @apply input;
}
.dp__disabled {
    @apply !bg-base-300;
}

* {
    --fc-neutral-bg-color: hsla(var(--n) / var(--tw-bg-opacity, 1));
    --fc-list-event-dot-width: 10px;
    --fc-list-event-hover-bg-color: hsl(var(--p));
    --fc-neutral-bg-color: hsla(var(--s) / var(--tw-bg-opacity, 0.5));
    --fc-page-bg-color: hsl(var(--bc));
    --fc-list-event-hover-bg-color: hsl(var(--p));
    --fc-event-border-color: hsl(var(--n));
    --fc-border-color: hsla(var(--bc) / var(--tw-bg-opacity, 0.3));
    --fc-today-bg-color: hsla(var(--p) / var(--tw-bg-opacity, 0.3));
}

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

::-webkit-scrollbar-track {
    @apply border border-solid border-secondary rounded-lg;
}

::-webkit-scrollbar-thumb {
    @apply border rounded-lg bg-secondary border-neutral;
}

.tabledata .badge {
    @apply max-w-full block overflow-hidden overflow-ellipsis mx-auto my-2;
}

.apexcharts-tooltip * {
    @apply text-neutral-focus;
}
/**
 * Vue Toastification Styles
 */
.Vue-Toastification__toast--success {
    @apply bg-success text-primary-content;
}

.Vue-Toastification__toast--info {
    @apply bg-info text-primary-content;
}

.Vue-Toastification__toast--warning {
    @apply bg-warning text-primary-content;
}

.Vue-Toastification__toast--error {
    @apply bg-error text-primary-content;
}

.drawer.drawer-end .drawer-toggle:checked ~ .drawer-side {
    @apply fixed top-0 right-0 w-full h-full;
}
